main {
    height: 100%;
    width: 83%;
    margin-left: 25px;
    margin-top: 20px;
}

/*Carrossel*/
section#container-slider {
    margin-top: 80px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

div.container-imagens {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}

div.slider {
    position: absolute;
    opacity: 0;
    transition-timing-function: linear;
    height: 160px;
    width: 252px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.199);
    display: flex;
    flex-direction: column;
}

div.slider > h1 {
    text-align: center;
    margin-top:60px;
    font-size: 45px;
    font-weight: 700;
}

h1#total-mobile {
    color: #1F2373;
}

h1#recentes-mobile {
    color: #1F733A;
}

h1#pendentes-mobile {
    color: #73211F;
}

div.slider > span {
    text-align: right;
    margin-top: 25px;
}

div.slider > span#total-mobile, span#recentes-mobile {
    color: rgba(0, 0, 0, 0.56);
    font-size: 14px;
    font-weight: 400;
}

div.slider > span#pendentes-mobile {
    color: rgba(0, 0, 0, 0.568);
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
}

div.slider.ativo {
    opacity: 1;
}

button#button-antes, button#button-depois {
    border: none;
    background-color: transparent;
    color: white;
}

button#button-antes > img, button#button-depois > img {
    height: 30px;
    width: 30px;
}
/*Carrossel*/

section#numeros {
    height: 30%;
    display: none;
    justify-content: center;
    gap: 12px;
}

section#numeros > div.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 200px;
    border-radius: 10px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.199);
    text-align: center;
}

div.box > h1#total-cadastros, h1#recentes, h1#pendentes {
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
}

h1#total-cadastros {
    color: #1F2373;
}

h1#recentes {
    color: #1F733A;
}

h1#pendentes {
    color: #73211F;
}

div.box > span#total, span#recentes, span#pendentes {
    display: none;
}

section#cadastro {
    height: 100%;
    margin-top: 90px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.218);
    overflow: auto;
}

section#cadastro > div > p {
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 30px;
    font-weight: bolder;
    color: rgba(8, 0, 50, 0.86);
}

section#cadastro > table {
    width: 95%;
    border-collapse: collapse;
    margin: auto;
}

section#cadastro > table > thead > tr > th {
    text-align: left;
    font-weight: normal;
    color:#18013e;
}

section#cadastro > table > thead > tr.separator-row > td > hr {
    border: 1px solid;
    color: #a5a4a4;
}

section#cadastro > table > tbody > tr > td {
    border-bottom: 2px solid rgba(0, 0, 0, 0.338);
    padding: 5px;
    word-break: break-all;
    font-size: 15px;
    text-align: right;
}

section#cadastro > table > thead > tr > th:nth-child(1), section#cadastro > table > tbody > tr > td:nth-child(1) {
    text-align: left; 
}

section#cadastro > table > thead > tr > th:nth-child(2), section#cadastro > table > tbody > tr > td:nth-child(2) {
    text-align: center; 
}

section#cadastro > table > thead > tr > th:nth-child(3), section#cadastro > table > tbody > tr > td:nth-child(3) {
    text-align: center; 
}

section#cadastro > table > thead > tr > th:nth-child(4), section#cadastro > table > tbody > tr > td:nth-child(4) {
    text-align: center; 
}

section#cadastro > table > thead > tr > th:nth-child(5), section#cadastro > table > tbody > tr > td:nth-child(5) {
    text-align: center; 
}

section#cadastro > table > tbody > tr:hover td {
    background-color: #4e2c7256;
}
/*:::::::::::::::::::::::::::::::::::RESPONSIVIDADE::::::::::::::::::::::::::::::::::::::::::*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    button.button-mobile, nav.menu-mobile {
        display: none;
    }

    aside.sidebar {
        width: 55px;
        display: flex;
    }

    header {
        margin-left: 100px;
        width: 85%;
    }

    header > a > span#perfil > p {
        position: absolute;
        top: 26%;
        left: 63.5%; 
        color: rgba(0, 0, 0, 0.866);
        display: flex;
    }

    main {
        margin-left: 100px;
        width: 85%;
    }

    section#container-slider {
       display: none;
    }

    section#numeros {
        display: flex;
    }

    section#numeros > div.box {
        width: 300px;
        position: relative;
        height: 170px;
    }

    div.box > h1#total-cadastros, h1#recentes, h1#pendentes {
        font-size: 53px;
    }

    div.box > span#total, span#recentes {
        top: 90%;
        position: absolute;
        right: 2%;
        color: rgba(0, 0, 0, 0.50);
        font-family: Roboto;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        display: block;
    }

    div.box > span#pendentes {
        top: 90%;
        position: absolute;
        right: 1%;
        display: block;
        color: rgba(0, 0, 0, 0.50);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        display: block;

    }

    section#cadastro {
        margin-top: 30px;
    }
}

@media screen and (min-width:1024px) and (max-width: 1366px) {

    button.button-mobile, nav.menu-mobile {
        display: none;
    }

    button.button-mobile, nav.menu-mobile {
        display: none;
    }

    aside.sidebar {
        width: 55px;
        display: flex;
    }

    header {
        margin-left: 120px;
        width: 85%;
    }

    header > a > span#perfil > p {
        position: absolute;
        top: 26%;
        left: 63.5%; 
        color: rgba(0, 0, 0, 0.866);
        display: flex;
    }

    main {
        margin-left: 120px;
        width: 85%;
    }

    section#container-slider {
        display: none;
    }

    section#numeros {
        display: flex;
    }

    section#numeros > div.box {
        width: 400px;
        position: relative;
        height: 170px;
    }

    div.box > h1#total-cadastros, h1#recentes, h1#pendentes {
        font-size: 66px;
    }

    div.box > span#total, span#recentes {
        top: 90%;
        position: absolute;
        right: 2%;
        color: rgba(0, 0, 0, 0.50);
        font-family: Roboto;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        display: block;
    }

    div.box > span#pendentes {
        top: 90%;
        position: absolute;
        right: 1%;
        display: block;
        color: rgba(0, 0, 0, 0.50);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        display: block;
    }

    section#cadastro {
        margin-top: 30px;
    }
}

@media screen and (min-width:1366px) and (max-width: 1680px) {

    button.button-mobile, nav.menu-mobile {
        display: none;
    }

    aside.sidebar {
        width: 240px;
        display: flex;
    }

    aside.sidebar > img#logo-quadrado {
        display: block;
        height: 55px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    aside.sidebar > nav {
        margin-top: 0;
    }

    .sidebar nav > a > button > span {
        padding: 0px 16px 0 12px;
    }
    

    .sidebar > nav > a > button > span > span {
        display: block;
        text-decoration: none;
        color:black;
        padding-left: 12px;
    }

    hr.linha{
        border: 1px solid #736e6e4a; 
        display: block;
    } 

    header {
        margin-left: 280px;
        width: 72%;
    }

    header > a > span#perfil > p {
        display: flex;
    }

    main {
        margin-left: 280px;
        width: 72%;
    }

    section#container-slider {
        display: none;
    }

    section#numeros {
        display: flex;
    }

    section#numeros > div.box {
        width: 500px;
        position: relative;
        height: 170px;
    }

    div.box > h1#total-cadastros, h1#recentes, h1#pendentes {
        font-size: 66px;
    }

    div.box > span#total, span#recentes {
        top: 90%;
        position: absolute;
        right: 2%;
        color: rgba(0, 0, 0, 0.50);
        font-family: Roboto;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        display: block;
    }

    div.box > span#pendentes {
        top: 90%;
        position: absolute;
        right: 1%;
        display: block;
        color: rgba(0, 0, 0, 0.50);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        display: block;
    }

    section#cadastro {
        margin-top: 30px;
    }
}

@media screen and (min-width: 1680px) and (max-width: 1920px) {

    button.button-mobile, nav.menu-mobile {
        display: none;
    }

    aside.sidebar {
        width: 240px;
        display: flex;
    }

    aside.sidebar > img#logo-quadrado {
        display: block;
        height: 55px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    aside.sidebar > nav {
        margin-top: 0;
    }

    .sidebar nav > a > button > span {
        padding: 0px 16px 0 12px;
    }

    .sidebar > nav > a > button > span > span {
        display: block;
        text-decoration: none;
        color:black;
        padding-left: 12px;
    }

    header {
        margin-left: 330px;
        width: 70%;
    }

    hr.linha{
        border: 1px solid #736e6e4a; 
        display: block;
    } 

    header > a > span#perfil > p {
        position: absolute;
        top: 26%;
        left: 63.5%; 
        color: rgba(0, 0, 0, 0.866);
        display: flex;
    }

    main {
        margin-left: 330px;
        width: 70%;
    }

    section#container-slider {
        display: none;
    }

    section#numeros {
        display: flex;
    }

    section#numeros > div.box {
        width: 500px;
        position: relative;
        height: 170px;
    }

    div.box > h1#total-cadastros, h1#recentes, h1#pendentes {
        font-size: 66px;
    }

    div.box > span#total, span#recentes {
        top: 90%;
        position: absolute;
        right: 2%;
        color: rgba(0, 0, 0, 0.50);
        font-family: Roboto;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        display: block;
    }

    div.box > span#pendentes {
        top: 90%;
        position: absolute;
        right: 1%;
        display: block;
        color: rgba(0, 0, 0, 0.50);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        display: block;
    }

    section#cadastro {
        margin-top: 30px;
    }
}

@media screen and (min-width: 1920px) {

    button.button-mobile, nav.menu-mobile {
        display: none;
    }

    aside.sidebar {
        width: 240px;
        display: flex;
    }

    aside.sidebar > img#logo-quadrado {
        display: block;
        height: 55px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    aside.sidebar > nav {
        margin-top: 0;
    }

    .sidebar nav > a > button > span {
        padding: 0px 16px 0 12px;
    }
   
    .sidebar > nav > a > button > span > span {
        display: block;
        text-decoration: none;
        color:black;
        padding-left: 12px;
    }

    hr.linha{
        border: 1px solid #736e6e4a; 
        display: block;
    }

    header {
        width: 62%;
        margin-left: 400px;
    }

    header > a > span#perfil > p {
        position: absolute;
        top: 26%;
        left: 63.5%; 
        color: rgba(0, 0, 0, 0.866);
        display: flex;
    }

    main {
        margin-left: 400px;
        width: 62%;
    }

    section#container-slider {
        display: none;
    }

    section#numeros {
        display: flex;
    }

    section#numeros > div.box {
        width: 500px;
        position: relative;
        height: 170px;
    }

    div.box > h1#total-cadastros, h1#recentes, h1#pendentes {
        font-size: 66px;
    }

    div.box > span#total, span#recentes {
        top: 90%;
        position: absolute;
        right: 2%;
        color: rgba(0, 0, 0, 0.50);
        font-family: Roboto;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        display: block;
    }

    div.box > span#pendentes {
        top: 90%;
        position: absolute;
        right: 1%;
        display: block;
        color: rgba(0, 0, 0, 0.50);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        display: block;
    }

    section#cadastro {
        margin-top: 30px;
    }
}
